# ===========================
# Symfony (Backend)
# ===========================

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony)
/back/var/cache/*
/back/var/log/*
/back/var/sessions/*
!back/var/cache/.gitkeep
!back/var/log/.gitkeep
!back/var/sessions/.gitkeep

# Managed by Composer
/back/var/bootstrap.php.cache
/back/bin/*
!back/bin/console
!back/bin/symfony_requirements
/back/vendor/

# PHPUnit
/back/phpunit.xml
/back/.phpunit.result.cache
/back/coverage/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Symfony environment
/back/.env.local
/back/.env.local.php
/back/.env.*.local
/back/.env.dev
/back/.env.prod
/back/.env.test

# ===========================
# React (Frontend)
# ===========================
# Node.js
/front/node_modules/
/front/dist/
/front/build/
/front/.vite/
/front/coverage/
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/junit.xml

# ===========================
# Docker & Infrastructure
# ===========================
# Docker
/.docker/log/*
!/.docker/log/.gitkeep
/.docker/caddy/data/
/.docker/*/temp/
/.docker/caddy/data/caddy/certificates/local/back.localhost/back.localhost.crt
/.docker/caddy/data/caddy/certificates/local/back.localhost/back.localhost.json
/.docker/caddy/data/caddy/certificates/local/back.localhost/back.localhost.key
/.docker/caddy/data/caddy/certificates/local/front.localhost/front.localhost.crt
/.docker/caddy/data/caddy/certificates/local/front.localhost/front.localhost.json
/.docker/caddy/data/caddy/certificates/local/front.localhost/front.localhost.key
/.docker/caddy/data/caddy/instance.uuid
/.docker/caddy/data/caddy/pki/authorities/local/intermediate.crt
/.docker/caddy/data/caddy/pki/authorities/local/intermediate.key
/.docker/caddy/data/caddy/last_clean.json
/.docker/caddy/data/caddy/pki/authorities/local/root.crt
/.docker/caddy/data/caddy/pki/authorities/local/root.key

# Embedded web-server pid file
/.web-server-pid

# ===========================
# IDE & Éditeurs
# ===========================
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace
.DS_Store
/.idea/dataSources.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/phpunit.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/www.iml

# ===========================
# Système & Temporaires
# ===========================
# Build & Temp
/var/
/tmp/
/temp/
*.tmp
*.bak
*.swp
/build/

# Environment files
/.env

# Scripts
/deploy.sh
/reset.sh
/rsync_exclude.txt
