back.localhost  {
    root * /var/www/html/back/public
    encode zstd br gzip
    header {
                Access-Control-Allow-Origin *
                Access-Control-Allow-Methods "GET, POST, PUT, PATCH, OPTIONS"
                Strict-Transport-Security max-age=31536000
                Referrer-Policy "no-referrer, strict-origin-when-cross-origin, no-referrer-when-downgrade"
                X-Content-Type-Options nosniff
                Access-Control-Allow-Headers "Origin, Access-Control-Allow-Headers, Access-Control-Allow-Origin, Accept, Content-Type, X-Auth-Token, X-Requested-With"

                CustomDomainHost {host}
                FWServe main
                X-Real-IP {remote}
                X-Forwarded-For {remote}
                X-Self-Sub false
                Server Avoca
            }
    file_server
    php_fastcgi back:9000 {
        # only fall back to root index.php aka front controller.
        try_files {path} index.php

        # optionally set the value of the environment variables used in the application
        # env APP_ENV "prod"
        # env APP_SECRET "<app-secret-id>"
        # env DATABASE_URL "mysql://db_user:db_pass@host:3306/db_name"

        # Configure the FastCGI to resolve any symlinks in the root path.
        # This ensures that OpCache is using the destination filenames,
        # instead of the symlinks, to cache opcodes and php files see
        # https://caddy.community/t/root-symlink-folder-updates-and-caddy-reload-not-working/10557
        resolve_root_symlink
    }
    log {
        output file /var/log/caddy/back.localhost-access.log
    }


}

front.localhost {
    reverse_proxy front:5173
    encode zstd br gzip
    log {
        output file /var/log/caddy/front.localhost-access.log
    }
}

